In [2]:
import pandas as pd
import seaborn as sns 
import os

#  General Data Analysis

In [3]:
DATA_ROOT = "/Users/kaiqu/kaggle-datasets/linking-writing-processes-to-writing-quality"
df = pd.read_csv(f'{DATA_ROOT}/train_logs.csv')
df_score = pd.read_csv(f'{DATA_ROOT}/train_scores.csv')

df_overall = pd.merge(df, df_score, how="left")
print(len(df))
print(df_overall.head())

8405898
         id  event_id  down_time  up_time  action_time       activity  \
0  001519c8         1       4526     4557           31  Nonproduction
1  001519c8         2       4558     4962          404  Nonproduction
2  001519c8         3     106571   106571            0  Nonproduction
3  001519c8         4     106686   106777           91          Input
4  001519c8         5     107196   107323          127          Input

  down_event   up_event text_change  cursor_position  word_count  score
0  Leftclick  Leftclick    NoChange                0           0    3.5
1  Leftclick  Leftclick    NoChange                0           0    3.5
2      Shift      Shift    NoChange                0           0    3.5
3          q          q           q                1           1    3.5
4          q          q           q                2           1    3.5

In [4]:
df.describe()

,event_id,down_time,up_time,action_time,cursor_position,word_count
count,8.405898e+06,8.405898e+06,8.405898e+06,8.405898e+06,8.405898e+06,8.405898e+06
mean,2.067649e+03,7.935603e+05,7.936584e+05,9.808498e+01,1.222964e+03,2.314687e+02
std,1.588284e+03,5.149451e+05,5.149428e+05,2.533985e+02,9.485242e+02,1.759088e+02
min,1.000000e+00,1.060000e+02,2.520000e+02,0.000000e+00,0.000000e+00,0.000000e+00
25%,8.520000e+02,3.731842e+05,3.732820e+05,6.600000e+01,4.990000e+02,9.600000e+01
50%,1.726000e+03,7.208860e+05,7.209800e+05,9.300000e+01,1.043000e+03,2.000000e+02
75%,2.926000e+03,1.163042e+06,1.163141e+06,1.220000e+02,1.706000e+03,3.270000e+02
max,1.287600e+04,8.313630e+06,8.313707e+06,4.474700e+05,7.802000e+03,1.326000e+03

In [40]:
df_score.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2471 entries, 0 to 2470
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      2471 non-null   object
 1   score   2471 non-null   float64
dtypes: float64(1), object(1)
memory usage: 38.7+ KB

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8405898 entries, 0 to 8405897
Data columns (total 11 columns):
 #   Column           Dtype
---  ------           -----
 0   id               object
 1   event_id         int64
 2   down_time        int64
 3   up_time          int64
 4   action_time      int64
 5   activity         object
 6   down_event       object
 7   up_event         object
 8   text_change      object
 9   cursor_position  int64
 10  word_count       int64
dtypes: int64(6), object(5)
memory usage: 705.5+ MB

In [6]:
df.head()

,id,event_id,down_time,up_time,action_time,activity,down_event,up_event,text_change,cursor_position,word_count
0,001519c8,1,4526,4557,31,Nonproduction,Leftclick,Leftclick,NoChange,0,0
1,001519c8,2,4558,4962,404,Nonproduction,Leftclick,Leftclick,NoChange,0,0
2,001519c8,3,106571,106571,0,Nonproduction,Shift,Shift,NoChange,0,0
3,001519c8,4,106686,106777,91,Input,q,q,q,1,1
4,001519c8,5,107196,107323,127,Input,q,q,q,2,1

In [7]:
df.dtypes

id                 object
event_id            int64
down_time           int64
up_time             int64
action_time         int64
activity           object
down_event         object
up_event           object
text_change        object
cursor_position     int64
word_count          int64
dtype: object

In [8]:
print(df.isnull().sum())
print('*' * 20)
print(df.isna().sum())

id                 0
event_id           0
down_time          0
up_time            0
action_time        0
activity           0
down_event         0
up_event           0
text_change        0
cursor_position    0
word_count         0
dtype: int64
********************
id                 0
event_id           0
down_time          0
up_time            0
action_time        0
activity           0
down_event         0
up_event           0
text_change        0
cursor_position    0
word_count         0
dtype: int64

In [9]:
for col in df.columns:
    print(col, df[col].nunique())

id 2471
event_id 12876
down_time 1836078
up_time 1835993
action_time 3509
activity 50
down_event 131
up_event 130
text_change 4111
cursor_position 7803
word_count 1327

In [10]:
df['id'].unique()[:20]

array(['001519c8', '0022f953', '0042269b', '0059420b', '0075873a',
       '0081af50', '0093f095', '009e23ab', '00e048f1', '00e1f05a',
       '00e713bd', '00f0737e', '00f8e84c', '00fc9a6a', '0144e4d5',
       '014e7ae9', '015aa732', '0178a105', '0182aa1c', '0190ff4c'],
      dtype=object)

In [11]:
print(df[df["activity"] == "Nonproduction"].head())

if not os.path.exists('nonproduction_id_015aa732.csv'):
    df[(df["activity"] == "Nonproduction") & (df['id'] == '015aa732')].to_csv('nonproduction_id_015aa732.csv')    # NOTE: the usage of df.query
    df.query("activity == 'Nonproduction' & id == '0190ff4c'").to_csv('nonproduction_id_0190ff4c.csv')

           id  event_id  down_time  up_time  action_time       activity  \
0    001519c8         1       4526     4557           31  Nonproduction
1    001519c8         2       4558     4962          404  Nonproduction
2    001519c8         3     106571   106571            0  Nonproduction
160  001519c8       161     178254   178335           81  Nonproduction
162  001519c8       163     180840   180857           17  Nonproduction

    down_event   up_event text_change  cursor_position  word_count
0    Leftclick  Leftclick    NoChange                0           0
1    Leftclick  Leftclick    NoChange                0           0
2        Shift      Shift    NoChange                0           0
160  Leftclick  Leftclick    NoChange               14          18
162  Leftclick  Leftclick    NoChange              106          18

In [12]:
if not os.path.exists('essay_id_015aa732.csv'):
    df[(df['id'] == '015aa732')].to_csv('essay_id_015aa732.csv')

In [13]:
# Check where down_event != up_event
print(len(df[df['down_event'] != df['up_event']]))
print(df[df['down_event'] != df['up_event']].head())

534
            id  event_id  down_time  up_time  action_time activity down_event  \
5115  0042269b       105     104507   104617          110  Replace          q
5232  0042269b       222     158578   158638           60  Replace          q
6276  0042269b      1266     473329   473439          110  Replace          q
6825  0042269b      1815     641821   641920           99  Replace          q
8223  0042269b      3213    1410198  1410293           95  Replace          q

     up_event                                        text_change  \
5115        m  qqqqqqq qqq qqqq qqqq qqqq qq qqqqqqqq qqqqqqq...
5232        i                                      qqqqqqq  => q
6276        o            qqq qq qqq qqqqqqq qqqqqq qqqq qq  => q
6825        t  qqq qqqqq qq qqqqqqqq qqqq qqq qqqqqqq qq qqqq...
8223        a  qqqqqqq qqqqqqqqq qqqq qqq qq qqqq qqq qqqqqqq...

      cursor_position  word_count
5115                1           4
5232               15          14
6276              194         128
6825              529         190
8223             1539         282

# Individual Column Analysis

In [14]:
print("down_event")
print(df["down_event"].unique())
print("\nup_event")
print(df["up_event"].unique())

down_event
['Leftclick' 'Shift' 'q' 'Space' 'Backspace' '.' ',' 'Enter' 'ArrowLeft'
 "'" ';' 'ArrowRight' '-' '?' 'Tab' '"' 'ArrowUp' 'ArrowDown' 'Rightclick'
 '=' 'CapsLock' 'Control' 'c' 'v' '/' 'Delete' ':' 'z' '[' '$' '(' ')' '+'
 'Home' 'End' '\\' 'Meta' '*' '&' 'AudioVolumeMute' 'x' '!' 'Insert'
 'MediaPlayPause' 'NumLock' '%' 'V' '>' 'Alt' 'AudioVolumeUp'
 'ContextMenu' 'AudioVolumeDown' 'a' '<' 'PageDown' ']' 'Middleclick' '@'
 'F12' 'j' '\x96' 'Dead' 't' 's' 'n' 'y' '{' 'ScrollLock' '¿' 'Process'
 '}' 'MediaTrackPrevious' 'MediaTrackNext' 'F3' '^' 'Unidentified'
 'Cancel' '2' 'i' 'd' 'r' 'e' '`' '\x9b' 'm' '#' '~' 'PageUp' 'T' 'A' 'b'
 'S' 'ModeChange' '_' 'Escape' 'F11' 'Unknownclick' 'AltGraph' 'F10' 'h'
 'F15' 'Clear' 'OS' 'F' 'C' 'o' 'Ä±' 'f' 'u' 'w' 'p' 'g' 'M' 'l' '|'
 'â\x80\x93' 'I' '0' '1' '5' '\x97' 'Ë\x86' '¡' '\x80' 'Â´' 'Å\x9f' 'F2'
 'ä' 'F1' 'Pause' 'F6']

up_event
['Leftclick' 'Shift' 'q' 'Space' 'Backspace' '.' ',' 'Enter' 'ArrowLeft'
 "'" ';' 'ArrowRight' '-' '?' 'Tab' '"' 'ArrowUp' 'ArrowDown' 'm'
 'Rightclick' 'i' 'o' 't' '=' 'a' 'CapsLock' 'Control' 'c' 'v' '/'
 'Delete' ':' 'z' '[' '$' '(' ')' '+' 'Home' 'End' '\\' 'Meta' '*' '&'
 'AudioVolumeMute' 'x' '!' 'Insert' 'MediaPlayPause' 'w' 'NumLock' '%' 'V'
 'b' '>' 'Alt' 'AudioVolumeUp' 'ContextMenu' 'AudioVolumeDown' 'n' 'e' '<'
 'PageDown' ']' 'Middleclick' '@' 'F12' 'u' 'j' 's' '\x96' 'Dead' 'y' '{'
 'ScrollLock' '¿' 'p' 'Process' '}' 'MediaTrackPrevious' 'MediaTrackNext'
 'F3' '^' 'Unidentified' 'Cancel' 'h' '2' 'd' 'r' '`' '\x9b' 'f' 'g' '#'
 '~' 'PageUp' 'l' 'T' 'A' 'S' 'ModeChange' '_' 'Escape' 'F11'
 'Unknownclick' 'AltGraph' 'F10' 'F15' 'Clear' 'OS' 'C' 'Ä±' 'M' '|'
 'â\x80\x93' '0' '1' '5' '\x97' 'Ë\x86' '¡' '\x80' 'Â´' 'Å\x9f' 'F2' 'ä'
 'F1' 'k' 'Pause' 'F6']

In [15]:
print("\nactivity")
print(df["activity"].unique())

activity
['Nonproduction' 'Input' 'Remove/Cut' 'Replace'
 'Move From [284, 292] To [282, 290]' 'Move From [287, 289] To [285, 287]'
 'Move From [460, 461] To [465, 466]' 'Paste'
 'Move From [905, 1314] To [907, 1316]'
 'Move From [565, 743] To [669, 847]' 'Move From [669, 847] To [565, 743]'
 'Move From [1041, 1121] To [1496, 1576]'
 'Move From [1455, 1557] To [1323, 1425]'
 'Move From [2268, 2275] To [2247, 2254]'
 'Move From [213, 302] To [902, 991]' 'Move From [0, 158] To [234, 392]'
 'Move From [460, 465] To [925, 930]' 'Move From [810, 906] To [816, 912]'
 'Move From [186, 187] To [184, 185]' 'Move From [140, 272] To [299, 431]'
 'Move From [114, 140] To [272, 298]'
 'Move From [1386, 1450] To [1445, 1509]'
 'Move From [442, 524] To [296, 378]' 'Move From [408, 414] To [390, 396]'
 'Move From [1144, 1147] To [1142, 1145]'
 'Move From [218, 220] To [206, 208]' 'Move From [164, 165] To [153, 154]'
 'Move From [623, 632] To [624, 633]'
 'Move From [747, 960] To [1041, 1254]'
 'Move From [274, 314] To [299, 339]' 'Move From [624, 625] To [845, 846]'
 'Move From [1861, 2063] To [1766, 1968]'
 'Move From [1766, 1968] To [1861, 2063]'
 'Move From [2091, 2179] To [252, 340]'
 'Move From [923, 1077] To [340, 494]' 'Move From [0, 1] To [590, 591]'
 'Move From [999, 1000] To [1000, 1001]' 'Move From [13, 65] To [9, 61]'
 'Move From [1651, 1769] To [1565, 1683]' 'Move From [61, 136] To [0, 75]'
 'Move From [0, 75] To [1, 76]' 'Move From [75, 134] To [304, 363]'
 'Move From [289, 355] To [562, 628]'
 'Move From [944, 1102] To [1050, 1208]'
 'Move From [1306, 1371] To [1061, 1126]'
 'Move From [1061, 1126] To [1306, 1371]'
 'Move From [1361, 1362] To [1358, 1359]'
 'Move From [51, 86] To [109, 144]' 'Move From [134, 169] To [122, 157]'
 'Move From [382, 437] To [458, 513]']

In [39]:
df[df['activity'] == 'Move From [284, 292] To [282, 290]']

,id,event_id,down_time,up_time,action_time,activity,down_event,up_event,text_change,cursor_position,word_count,is_a_sentence
2359,001519c8,2360,1380334,1380334,0,"Move From [284, 292] To [282, 290]",Leftclick,Leftclick,qqqqqqq,290,244,False

In [16]:

unique_text_change = df['text_change'].unique()
print(unique_text_change)
print(len(unique_text_change))
print('.' in unique_text_change)
count = 0
# Get the number of text_change that contains '.'
for text_change in unique_text_change:
    if '.' in text_change:
        count += 1
print(count)

['NoChange' 'q' ' ' ... 'qq qqq qqqq qqqqq' 'qq qqqqq qqqq qq qqqqq '
 '\n qqqqq qqqqqq qqqqqqqqqq qq q qqqqqqqq qqq qqq qqqq qqqqqq q qqq. \n\nqqqq qqq qq qqqqqqq qqq:\n- \n- qqq qqqqqqq qqqq q qqqqqq qqqqqqqq qq qqqq qqqqqqqq ']
4111
True
1267

# Individual Essay Check

# Questions Answering

## Essay Length

In [17]:
# Is there any correlation between the essay length and the essay quality?
# Step 1 & 2: Group by 'id' and get the row with the max 'event_id'
df_max_event = df.loc[df.groupby('id')['event_id'].idxmax()]

# Step 3: Left join with the scores DataFrame
result = df_max_event.merge(df_score, on='id', how='left')
print(result.head())

         id  event_id  down_time  up_time  action_time       activity  \
0  001519c8      2557    1801877  1801969           92  Nonproduction
1  0022f953      2454    1788842  1788969          127  Nonproduction
2  0042269b      4136    1771219  1771669          450  Nonproduction
3  0059420b      1556    1404394  1404469           75          Input
4  0075873a      2531    1662390  1662472           82          Input

  down_event   up_event text_change  cursor_position  word_count  score
0  Leftclick  Leftclick    NoChange             1046         255    3.5
1  ArrowDown  ArrowDown    NoChange             1519         320    3.5
2  Leftclick  Leftclick    NoChange              491         404    6.0
3          .          .           .              797         206    2.0
4      Enter      Enter          \n             1402         252    4.0

In [18]:
result.isna().sum()

id                 0
event_id           0
down_time          0
up_time            0
action_time        0
activity           0
down_event         0
up_event           0
text_change        0
cursor_position    0
word_count         0
score              0
dtype: int64

In [19]:
# NOTE: it seems that the essay length is kinda strongly correlated with the essay quality
print(result.corr(numeric_only=True)["score"])
print()

# NOTE: it seems that the last_event_id is also kinda strongly correlated with the essay quality, but event_id and word_count is also highly correlated
print(result.corr(numeric_only=True)["word_count"])

event_id           0.590769
down_time          0.025056
up_time            0.025245
action_time        0.038682
cursor_position    0.476897
word_count         0.640241
score              1.000000
Name: score, dtype: float64

event_id           0.787621
down_time          0.043294
up_time            0.043558
action_time        0.054059
cursor_position    0.743527
word_count         1.000000
score              0.640241
Name: word_count, dtype: float64

In [20]:
# Explore the relationship between remove/cut and the essay quality

In [21]:
# The time used to finish this task
# Step 1: Group by 'id' and get the row with the max 'up_time'
df_max_time = df.loc[df.groupby('id')['up_time'].idxmax()]
print(df_max_time.head())

assert len(df_max_time) == df['id'].nunique() 

# Step 2: Left join with the scores DataFrame
result_max_time = df_max_time.merge(df_score, on='id', how='left')

r_max_time = result_max_time.corr(numeric_only=True)
print(r_max_time['score'])

             id  event_id  down_time  up_time  action_time       activity  \
2556   001519c8      2557    1801877  1801969           92  Nonproduction
5010   0022f953      2454    1788842  1788969          127  Nonproduction
9146   0042269b      4136    1771219  1771669          450  Nonproduction
10702  0059420b      1556    1404394  1404469           75          Input
13233  0075873a      2531    1662390  1662472           82          Input

      down_event   up_event text_change  cursor_position  word_count
2556   Leftclick  Leftclick    NoChange             1046         255
5010   ArrowDown  ArrowDown    NoChange             1519         320
9146   Leftclick  Leftclick    NoChange              491         404
10702          .          .           .              797         206
13233      Enter      Enter          \n             1402         252
event_id           0.590769
down_time          0.025056
up_time            0.025245
action_time        0.038695
cursor_position    0.476897
word_count         0.640241
score              1.000000
Name: score, dtype: float64

## Number of Sentences/Average Sentence Length

In [22]:
# get the number of text_change that contains '.' for each essay； added that as a column to the DataFrame 
df['is_a_sentence'] = df['text_change'].apply(lambda x: '.' in x)
df_contains_dot = df.groupby('id')['is_a_sentence'].sum().reset_index()
df_contains_dot.columns = ['id', 'num_sentences']
df_num_sentences = df_score.copy().merge(df_contains_dot, on='id', how='left')
print(df_num_sentences.head())

         id  score  num_sentences
0  001519c8    3.5             28
1  0022f953    3.5             18
2  0042269b    6.0             23
3  0059420b    2.0             13
4  0075873a    4.0             32

In [23]:
# add average sentence length to df_num_sentences
df_avg_sentence_length = df_num_sentences.copy()
df_avg_sentence_length = df_avg_sentence_length.merge(result, on="id", how="left", suffixes=('', '_DROP')).filter(regex='^(?!.*_DROP)')
df_avg_sentence_length['avg_sentence_length'] = df_avg_sentence_length['word_count'] / df_avg_sentence_length['num_sentences']
print(df_avg_sentence_length.head())

         id  score  num_sentences  event_id  down_time  up_time  action_time  \
0  001519c8    3.5             28      2557    1801877  1801969           92
1  0022f953    3.5             18      2454    1788842  1788969          127
2  0042269b    6.0             23      4136    1771219  1771669          450
3  0059420b    2.0             13      1556    1404394  1404469           75
4  0075873a    4.0             32      2531    1662390  1662472           82

        activity down_event   up_event text_change  cursor_position  \
0  Nonproduction  Leftclick  Leftclick    NoChange             1046
1  Nonproduction  ArrowDown  ArrowDown    NoChange             1519
2  Nonproduction  Leftclick  Leftclick    NoChange              491
3          Input          .          .           .              797
4          Input      Enter      Enter          \n             1402

   word_count  avg_sentence_length
0         255             9.107143
1         320            17.777778
2         404            17.565217
3         206            15.846154
4         252             7.875000

In [24]:
corr_avg_sentence_length = df_avg_sentence_length.corr(numeric_only=True)
print(corr_avg_sentence_length['score'])
# sns.heatmap(corr_avg_sentence_length['score'])

score                  1.000000
num_sentences          0.393537
event_id               0.590769
down_time              0.025056
up_time                0.025245
action_time            0.038682
cursor_position        0.476897
word_count             0.640241
avg_sentence_length    0.013285
Name: score, dtype: float64

## Number of Backspaces

In [25]:
df[(df['down_event'] != df['up_event']) & (df['down_event'] == 'Backspace')].head()

Empty DataFrame
Columns: [id, event_id, down_time, up_time, action_time, activity, down_event, up_event, text_change, cursor_position, word_count, is_a_sentence]
Index: []

In [31]:

df_num_backspaces = df_score.copy()
df_tmp = df_score.copy()
print(df_num_backspaces.head())
print(df.head())

df_tmp = df.groupby('id')['down_event'].apply(lambda x: (x == 'Backspace').sum()).reset_index()
df_tmp.columns = ['id', 'num_backspaces']
print('df_tmp\n', df_tmp.head())

df_num_backspaces = df_num_backspaces.merge(df_tmp, on='id', how='left', suffixes=('', '_DROP')).filter(regex='^(?!.*_DROP)')
print(df_num_backspaces.head())
print(df_num_backspaces.corr(numeric_only=True)['score'])

         id  score
0  001519c8    3.5
1  0022f953    3.5
2  0042269b    6.0
3  0059420b    2.0
4  0075873a    4.0
         id  event_id  down_time  up_time  action_time       activity  \
0  001519c8         1       4526     4557           31  Nonproduction
1  001519c8         2       4558     4962          404  Nonproduction
2  001519c8         3     106571   106571            0  Nonproduction
3  001519c8         4     106686   106777           91          Input
4  001519c8         5     107196   107323          127          Input

  down_event   up_event text_change  cursor_position  word_count  \
0  Leftclick  Leftclick    NoChange                0           0
1  Leftclick  Leftclick    NoChange                0           0
2      Shift      Shift    NoChange                0           0
3          q          q           q                1           1
4          q          q           q                2           1

   is_a_sentence
0          False
1          False
2          False
3          False
4          False
df_tmp
          id  num_backspaces
0  001519c8             417
1  0022f953             260
2  0042269b             439
3  0059420b             152
4  0075873a             517
         id  score  num_backspaces
0  001519c8    3.5             417
1  0022f953    3.5             260
2  0042269b    6.0             439
3  0059420b    2.0             152
4  0075873a    4.0             517
score             1.000000
num_backspaces    0.280929
Name: score, dtype: float64

## Starting Time

In [37]:
df_first_q_time = df[df['down_event'] == 'q'].sort_values(by=('down_time')).groupby('id')['down_time'].first().reset_index()
print(df[df['down_event'] == 'q'].sort_values(by=('down_time')).groupby('id')['down_time'].first().reset_index())
print(df[df['down_event'] == 'q'].sort_values(by=('down_time')).groupby('id')['down_time'].first())
df_first_q_time.columns = ['id', 'first_input_time']
df_score_with_q_time = df_score.merge(df_first_q_time, on='id', how='left')
print(df_score_with_q_time.head())
print(df_score_with_q_time.corr(numeric_only=True)['score'])

            id  down_time
0     001519c8     106686
1     0022f953      32706
2     0042269b      21335
3     0059420b     161494
4     0075873a      94454
...        ...        ...
2466  ffb8c745      29456
2467  ffbef7e5      40574
2468  ffccd6fd      39919
2469  ffec5b38      27617
2470  fff05981      76584

[2471 rows x 2 columns]
id
001519c8    106686
0022f953     32706
0042269b     21335
0059420b    161494
0075873a     94454
             ...
ffb8c745     29456
ffbef7e5     40574
ffccd6fd     39919
ffec5b38     27617
fff05981     76584
Name: down_time, Length: 2471, dtype: int64
         id  score  first_input_time
0  001519c8    3.5            106686
1  0022f953    3.5             32706
2  0042269b    6.0             21335
3  0059420b    2.0            161494
4  0075873a    4.0             94454
score               1.000000
first_input_time   -0.136012
Name: score, dtype: float64